html {
    position: relative;
    min-height: 100%;
}

body {
    background-image:  url("../images/background.png");
    margin-bottom: 60px;
}

nav.navbar {
    background-color: #ccf0d8;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #0e1a6f;
}

.navbar-light .navbar-brand{
    color: #0e1a6f;
}

.navbar-light .navbar-nav .nav-link {
    color: #0e1a6f;
}

.background {
    background-color: rgb(228, 229, 226);
    margin-bottom: 10px;
}

h1, h2 {
    color: #0e1a6f;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#expand {
    height: 100%;
}

#profilePicture {
    width: 400px;
    margin-right: 15px;
}

p.two {
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.connect {
    width: 60px;
    padding: 5px;
}

.outside {
    padding-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ccf0d8;
    font-size: 12px;
    text-align: center;
    color: #0e1a6f;
    border-top: solid #0e1a6f 2px;

  }

form {
    padding-bottom: 5px;
}

.btn-primary {
    color: #0e1a6f;
    background-color: #ccf0dc;
    border-color: #0e1a6f;
}

.about {
    min-height: 470px;
}

/* .portRow {
    width: 85%;
} */

.portImage {
    position: relative;
}

.portText {
    position: absolute;
    bottom: 30px;
    background-color: #0e1a6f;
    color: white;
    text-align: center;
    padding: 15px;
    width: 200px;
}

.image {
    width: 200px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 991px) {
    .image {
        margin-left: -10px;
    }

    .portText {
        margin-left: -10px;
    }
}

@media only screen and (max-width: 767px) {
    #profilePicture {
        margin-left: 40px;
        margin-right: 40px;
    }

    .image {
        width: 300px;
        margin-left: 75px;
    }

    .portText {
        width: 300px;
        margin-left: 75px;
    }
}